[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-cov = "*"
codecov = "*"

[packages]
boto3 = "*"
botocore = "*"
django = "*"
django-cors-headers = "*"
django-filter = "*"
django-heroku = "*"
django-mathfilters = "*"
django-storages = "*"
djangorestframework = "*"
docutils = "*"
gunicorn = "*"
jmespath = "*"
mysqlclient = "*"
python-dateutil = "*"
pytz = "*"
s3transfer = "*"
six = "*"
sqlparse = "*"
urllib3 = "*"
pytest-django = "*"
psycopg2-binary = "*"
python-decouple = "*"
django-s3-folder-storage = "*"
requests = "*"
collectfast = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
