{% extends "layout.html" %}

{% load static %}

{% block content %}

<form action="/busca_nota/" method="post">{% csrf_token %}
    <div class="input-group">
      <input type="text" class="form-control" name="campo_busca" placeholder="Pesquisar pelo número da nota...">
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit">Buscar Nota!</button>
      </span>
    </div><!-- /input-group -->
</form>

<br>

<div class="list-group">
    {% for nota in page_obj %}
    <a href="{{ nota.get_absolute_url }}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Nota : {{ nota.numero }}</h5>
          <h5><small>{{ nota.created_at|date:"d-m-Y H:i:s"   }}</small></h5>
        </div>
        <p class="mb-1">Obs: {{ nota.obs }}</p>

        <p class="mb-1">Cliente: {{ nota.servico.first.cliente }}</p>

    </a>
    {% endfor %}
</div>



<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item">
        {% if page_obj.has_previous %}
            <a class="page-link"  href="?page=1">&laquo; Primeiro</a>
        {% endif %}
    </li>
      <li class="page-item">
        {% if page_obj.has_previous %}
            <a class="page-link"  href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
    </li>
      <li class="page-item">
          <a class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</a>
      </li>


    <li class="page-item">
        {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próximo</a>
        {% endif %}

    </li>
      <li class="page-item">
        {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
        {% endif %}

    </li>

  </ul>
</nav>

{% endblock %}
